<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Subject</th>
            <th scope="col">Sender</th>
            <th scope="col">Date</th>
            <th scope="col">User</th>
            <th scope="col">Notes</th>
            <th scope="col">File</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
        <tbody>
            {% for letter in in_letters %}
        <tr>
            <th scope="row">{{letter.id}}</th>
            <td>{{letter.subject}}</td>
            <td>{{letter.sender}}</td>
            <td>{{letter.reg_date}}</td>
            <td>{{d_names[letter.user_id]}}</td>
            <td>{{letter.notes}}</td>
            {% if letter.attachment %}
            <td>
                <a href="{{ url_for('main.files', f=letter.attachment)}}">
                    {{letter.attachment}}</a>
            </td>
            {% else %}
            <td>-</td>
            {% endif %}
            {%if current_user.id == letter.user_id or current_user.administrator == 1 %}
            <td><a href="{{ url_for('main.delin', in_id=letter.id)}}">Delete</a> <a href="{{ url_for('main.editin', in_id=letter.id)}}">Edit</a>
            </td>
            {%endif %}
        </tr>
            {% endfor %}
        </tbody>
    </table>

